.MuiButtonBase-root.theme-button__white-bg,
.MuiButtonBase-root.theme-button__white-bg:hover,
.MuiButtonBase-root.theme-button__white-bg:active   {
  
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--theme-font-color__primary);

  
  flex-grow: 0;
  font-family: var(--primary-font);
  font-size: var(--theme-font-size__secondary);
  font-weight: var(--theme-font-weight__primary);
  font-stretch: normal;
  font-style: normal;
  line-height: var(--theme-line-height__secondary);
  letter-spacing: normal;
  text-align: center;
  color: var(--theme-font-color__quinary);
  text-transform: capitalize;
}

.MuiButtonBase-root.theme-button__primary,
.MuiButtonBase-root.theme-button__primary:hover,
.MuiButtonBase-root.theme-button__primary:active   {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  border-radius: 4px;
  background-color: #00a8dd;

  
  flex-grow: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fbfafc;
  text-transform: capitalize;
}

.MuiButtonBase-root.theme-button__secondary,
.MuiButtonBase-root.theme-button__secondary:hover,
.MuiButtonBase-root.theme-button__secondary:active   {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  border-radius: 4px;
  border: solid 1px #00a8dd;
  background-color: #fff;

  
  flex-grow: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #00a8dd;
  text-transform: capitalize;
}


.MuiButtonBase-root.theme-button__tertiery,
.MuiButtonBase-root.theme-button__tertiery:hover,
.MuiButtonBase-root.theme-button__tertiery:active   {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  border-radius: 4px;
  background-color: #727272;

  
  flex-grow: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fbfafc;
  text-transform: capitalize;
}

.MuiButtonBase-root.theme-button__quaternary,
.MuiButtonBase-root.theme-button__quaternary:hover,
.MuiButtonBase-root.theme-button__quaternary:active   {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  border-radius: 4px;
  background-color:  #727272;

  
  flex-grow: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fbfafc;
  text-transform: capitalize;
}

.MuiButtonBase-root.theme-button__quinary,
.MuiButtonBase-root.theme-button__quinary:hover,
.MuiButtonBase-root.theme-button__quinary:active   {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  border-radius: 4px;
  background-color: #015f7d;

  
  flex-grow: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fbfafc;
  text-transform: capitalize;
}

.MuiTouchRipple-root.css-8je8zh-MuiTouchRipple-root {
  display: none;
}